#项目：HR_PROJECT
##这是用来处理明细层的数据，用来清洗数据

In [0]:
%sql
MERGE INTO uc_data001.uc_schema001.fct_hr_employees t1  USING uc_data001.uc_schema001.raw_hr_employees t2
  ON t1.EMPLOYEE_ID = t2.EMPLOYEE_ID
  WHEN MATCHED THEN UPDATE SET 
  t1.FIRST_NAME = t2.FIRST_NAME,
  t1.LAST_NAME = t2.LAST_NAME,
  t1.EMAIL = t2.EMAIL,
  t1.PHONE_NUMBER = t2.PHONE_NUMBER,
  t1.HIRE_DATE = to_timestamp(t2.HIRE_DATE,'MM/dd/yyyy'),
  t1.JOB_ID = t2.JOB_ID,
  t1.SALARY = t2.SALARY,
  t1.MANAGER_ID = t2.MANAGER_ID,
  t1.DEPARTMENT_ID = t2.DEPARTMENT_ID,
  t1.DB_UPDATED_DATE = current_timestamp()
  WHEN NOT MATCHED THEN INSERT (   
  t1.EMPLOYEE_ID ,
  t1.FIRST_NAME ,
  t1.LAST_NAME ,
  t1.EMAIL ,
  t1.PHONE_NUMBER ,
  t1.HIRE_DATE,
  t1.JOB_ID ,
  t1.SALARY ,
  t1.MANAGER_ID ,
  t1.DEPARTMENT_ID ,
  t1.DB_CREATED_DATE ,
  t1.DB_UPDATED_DATE) 
  VALUES (  
  t2.EMPLOYEE_ID ,
  t2.FIRST_NAME ,
  t2.LAST_NAME ,
  t2.EMAIL ,
  t2.PHONE_NUMBER ,
  to_timestamp(t2.HIRE_DATE,'MM/dd/yyyy') ,
  t2.JOB_ID ,
  t2.SALARY ,
  t2.MANAGER_ID ,
  t2.DEPARTMENT_ID ,
  current_timestamp(),
  current_timestamp()) ; 

 


MERGE INTO uc_data001.uc_schema001.dim_hr_employees_countries t1  USING uc_data001.uc_schema001.raw_hr_employees_countries t2
  ON t1.COUNTRY_ID = t2.COUNTRY_ID
  WHEN MATCHED THEN UPDATE SET 
  t1.COUNTRY_NAME = t2.COUNTRY_NAME,
  t1.DB_UPDATED_DATE = current_timestamp()
  WHEN NOT MATCHED THEN INSERT (   
  t1.COUNTRY_ID ,
  t1.COUNTRY_NAME ,
  t1.DB_CREATED_DATE ,
  t1.DB_UPDATED_DATE) 
  VALUES (  
  t2.COUNTRY_ID ,
  t2.COUNTRY_NAME ,
  current_timestamp(),
  current_timestamp()) ; 
  
  

 

MERGE INTO uc_data001.uc_schema001.dim_hr_employees_departments t1  USING uc_data001.uc_schema001.raw_hr_employees_departments t2
  ON t1.DEPARTMENT_ID = t2.DEPARTMENT_ID
  WHEN MATCHED THEN UPDATE SET 
  t1.DEPARTMENT_NAME = t2.DEPARTMENT_NAME,
  t1.MANAGER_ID = t2.MANAGER_ID,
  t1.LOCATION_ID = t2.LOCATION_ID,
  t1.DB_UPDATED_DATE = current_timestamp()
  WHEN NOT MATCHED THEN INSERT (   
  t1.DEPARTMENT_ID ,
  t1.DEPARTMENT_NAME ,
  t1.MANAGER_ID ,
  t1.LOCATION_ID ,  
  t1.DB_CREATED_DATE ,
  t1.DB_UPDATED_DATE) 
  VALUES (  
  t2.DEPARTMENT_ID ,
  t2.DEPARTMENT_NAME ,
  t2.MANAGER_ID ,
  t2.LOCATION_ID ,  
  current_timestamp(),
  current_timestamp()) ; 

 

MERGE INTO uc_data001.uc_schema001.dim_hr_employees_locations t1  USING uc_data001.uc_schema001.raw_hr_employees_locations t2
  ON t1.LOCATION_ID = t2.LOCATION_ID
  WHEN MATCHED THEN UPDATE SET 
  t1.STREET_ADDRESS = t2.STREET_ADDRESS,
  t1.POSTAL_CODE = t2.POSTAL_CODE,
  t1.CITY = t2.CITY,
  t1.STATE_PROVINCE = t2.STATE_PROVINCE,
  t1.COUNTRY_ID = t2.COUNTRY_ID,  
  t1.DB_UPDATED_DATE = current_timestamp()
  WHEN NOT MATCHED THEN INSERT (   
  t1.LOCATION_ID ,
  t1.STREET_ADDRESS ,
  t1.POSTAL_CODE ,
  t1.CITY ,
  t1.STATE_PROVINCE ,
  t1.COUNTRY_ID ,  
  t1.DB_CREATED_DATE ,
  t1.DB_UPDATED_DATE) 
  VALUES (  
  t2.LOCATION_ID ,
  t2.STREET_ADDRESS ,
  t2.POSTAL_CODE ,
  t2.CITY ,
  t2.STATE_PROVINCE ,
  t2.COUNTRY_ID ,  
  current_timestamp(),
  current_timestamp()) ;

In [0]:
%sql
select * from uc_data001.uc_schema001.fct_hr_employees