#项目：HR_PROJECT
##这是用来处理汇总层的数据，最终用来把数据开放给终端用户

In [0]:
%sql
SELECT T1.EMPLOYEE_ID,T1.FIRST_NAME,T1.LAST_NAME,T1.EMAIL,T1.PHONE_NUMBER,T1.HIRE_DATE,T1.JOB_ID,T1.SALARY,T2.FIRST_NAME AS MANAGER_FIRST_NAME,T2.LAST_NAME AS MANAGER_LAST_NAME,T3.DEPARTMENT_NAME,T4.STREET_ADDRESS,T4.POSTAL_CODE,T4.CITY,T4.STATE_PROVINCE,T5.COUNTRY_NAME FROM uc_data001.uc_schema001.fct_hr_employees T1
LEFT JOIN uc_data001.uc_schema001.fct_hr_employees T2 ON T1.EMPLOYEE_ID=T2.MANAGER_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_departments T3 ON T1.DEPARTMENT_ID=T3.DEPARTMENT_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_locations T4 ON T4.LOCATION_ID=T3.LOCATION_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_countries T5 ON T4.COUNTRY_ID=T5.COUNTRY_ID

In [0]:
%sql
SELECT T1.EMPLOYEE_ID,T1.FIRST_NAME,T1.LAST_NAME,T1.EMAIL,T1.PHONE_NUMBER,T1.HIRE_DATE,T1.JOB_ID,T1.SALARY,T2.FIRST_NAME AS MANAGER_FIRST_NAME,T2.LAST_NAME AS MANAGER_LAST_NAME,T3.DEPARTMENT_NAME,T4.STREET_ADDRESS,T4.POSTAL_CODE,T4.CITY,T4.STATE_PROVINCE,T5.COUNTRY_NAME FROM uc_data001.uc_schema001.fct_hr_employees T1
LEFT JOIN uc_data001.uc_schema001.fct_hr_employees T2 ON T2.EMPLOYEE_ID=T1.MANAGER_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_departments T3 ON T1.DEPARTMENT_ID=T3.DEPARTMENT_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_locations T4 ON T4.LOCATION_ID=T3.LOCATION_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_countries T5 ON T4.COUNTRY_ID=T5.COUNTRY_ID
order by T1.EMPLOYEE_ID

In [0]:
%sql

MERGE INTO uc_data001.uc_schema001.dm_hr_employees_wide t01  USING (SELECT T1.EMPLOYEE_ID,T1.FIRST_NAME,T1.LAST_NAME,T1.EMAIL,T1.PHONE_NUMBER,T1.HIRE_DATE,T1.JOB_ID,T1.SALARY,T2.FIRST_NAME AS MANAGER_FIRST_NAME,T2.LAST_NAME AS MANAGER_LAST_NAME,T3.DEPARTMENT_NAME,T4.STREET_ADDRESS,T4.POSTAL_CODE,T4.CITY,T4.STATE_PROVINCE,T5.COUNTRY_NAME FROM uc_data001.uc_schema001.fct_hr_employees T1
LEFT JOIN uc_data001.uc_schema001.fct_hr_employees T2 ON T2.EMPLOYEE_ID=T1.MANAGER_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_departments T3 ON T1.DEPARTMENT_ID=T3.DEPARTMENT_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_locations T4 ON T4.LOCATION_ID=T3.LOCATION_ID
LEFT JOIN uc_data001.uc_schema001.dim_hr_employees_countries T5 ON T4.COUNTRY_ID=T5.COUNTRY_ID) t02
  ON t01.EMPLOYEE_ID = t02.EMPLOYEE_ID
  WHEN MATCHED THEN UPDATE SET 
  t01.FIRST_NAME = t02.FIRST_NAME,
  t01.LAST_NAME = t02.LAST_NAME,
  t01.EMAIL = t02.EMAIL,
  t01.PHONE_NUMBER = t02.PHONE_NUMBER,
  t01.HIRE_DATE = t02.HIRE_DATE,
  t01.JOB_ID = t02.JOB_ID,
  t01.SALARY = t02.SALARY,
  t01.MANAGER_FIRST_NAME = t02.MANAGER_FIRST_NAME,
  t01.MANAGER_LAST_NAME = t02.MANAGER_LAST_NAME,
  t01.DEPARTMENT_NAME = t02.DEPARTMENT_NAME,
  t01.STREET_ADDRESS = t02.STREET_ADDRESS,
  t01.POSTAL_CODE = t02.POSTAL_CODE,
  t01.CITY = t02.CITY,
  t01.STATE_PROVINCE = t02.STATE_PROVINCE,
  t01.COUNTRY_NAME = t02.COUNTRY_NAME,
  t01.DB_UPDATED_DATE = current_timestamp()
  WHEN NOT MATCHED THEN INSERT (   
  t01.EMPLOYEE_ID ,
  t01.FIRST_NAME ,
  t01.LAST_NAME ,
  t01.EMAIL ,
  t01.PHONE_NUMBER ,
  t01.HIRE_DATE,
  t01.JOB_ID ,
  t01.SALARY ,
  t01.MANAGER_FIRST_NAME ,
  t01.MANAGER_LAST_NAME ,
  t01.DEPARTMENT_NAME ,
  t01.STREET_ADDRESS ,
  t01.POSTAL_CODE ,
  t01.CITY ,
  t01.STATE_PROVINCE ,
  t01.COUNTRY_NAME ,
  t01.DB_CREATED_DATE ,
  t01.DB_UPDATED_DATE) 
  VALUES (  
  t02.EMPLOYEE_ID ,
  t02.FIRST_NAME ,
  t02.LAST_NAME ,
  t02.EMAIL ,
  t02.PHONE_NUMBER ,
  t02.HIRE_DATE,
  t02.JOB_ID ,
  t02.SALARY,
  t02.MANAGER_FIRST_NAME ,
  t02.MANAGER_LAST_NAME ,
  t02.DEPARTMENT_NAME ,
  t02.STREET_ADDRESS ,
  t02.POSTAL_CODE ,
  t02.CITY ,
  t02.STATE_PROVINCE ,
  t02.COUNTRY_NAME ,
  current_timestamp(),
  current_timestamp()) ;